<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
body {
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size: 11px;
	color:navy;
}
</style>
</head>
<body>
<p>Beste {{name}},</p>
<p>
De export van de geselecteerde tijdreeksen van {{domain}} is gereed. Je kan het zip bestand met de resultaten <a href="{{link}}">hier</a> downloaden.<br>
De download link verloopt op {{expire}}. Na deze datum wordt het bestand van onze server verwijderd.
</p>
Met vriendelijke groet,<br>
Acacia Water    
</body>
</html>
