{% extends 'sensor/base.html' %}
{% block title %}Bestanden downloaden{% endblock title %}
{% block script %}
{{ block.super }}
<script>

/**
 * format a date for input type=date
 */
function formatDate(date) {
	const zeroPad = (num, places) => String(num).padStart(places, '0')
	const d = new Date(Date.parse(date)) 
	return d.getFullYear() + "-" + zeroPad(d.getMonth()+1,2) + "-" + zeroPad(d.getDate(),2)
}

$(function() {
	const api = '/api/v1'
	$("#id_logger").change(function(e) {
		const id = this.value
		if (id) {
			// get earliest installation
			fetch(`${api}/loggers/${id}/earliest`).then(response => {
				response.json().then(data => {
					console.debug(data)
					const date = formatDate(data.start_date) 
					$("#id_start_date").val(date)
				})
			})
		}
	})
	$("#id_logger").change()
})

</script>
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
	<div class="container">
	<h3>Loggerbestanden opnieuw downloaden</h3>
	<p>
		Als op de Ellitrack site bestanden opnieuw verwerkt zijn, bv na aanpassing van het referentiepunt, dan kan je ze hier opnieuw downloaden 
	</p>
	<table class="table table-striped">
	<thead></thead>
	<tbody>
	<tr>
		<td>Datalogger</td>
		<td>{{form.logger}}</td>
	</tr>
	<tr>
		<th>Downloaden vanaf</td>
		<td>{{form.start_date}}
		{% if form.errors.start_date %}
			<span class="alert alert-danger">{{form.errors.start_date|join:', '}}</span>
		{% endif %}
		</td>
	</tr>
	<tr>
		<th>Downloaden tot</td>
		<td>{{form.stop_date}}
		{% if form.errors.stop_date %}
			<span class="alert alert-danger">{{form.errors.stop_date|join:', '}}</span>
		{% endif %}
		</td>
	</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan=2>
			<input type="submit" value="Download" class="btn btn-primary">
			<button type="button" onclick="history.back()" class="btn btn-secondary">Annuleren</button>
			</td>
		</tr>
	</tfoot>
	</table>
	</div>
</form>
{% endblock %}