{% extends 'sensor/base.html' %}
{% block title %}Datalogger stoppen{% endblock title %}
{% block content %}
<form method="post">{% csrf_token %}
	<div class="container">
	<h3>Stop een actieve datalogger</h3>
	<table class="table table-striped">
	<thead></thead>
	<tbody>
	<tr>
		<th>Datalogger</td>
		<td>{{form.logger}}</td>
	<tr>
		<th>Tijdstip stoppen</td>
		<td>{{form.stop_date}}&nbsp;{{form.stop_time}}
		{% if form.errors.stop_time %}
			<span class="alert alert-danger">{{form.errors.stop_time|join:', '}}</span>
		{% endif %}
		</td>
	</tr>
	</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan=2>
			<input type="submit" value="Stoppen" class="btn btn-primary">
			<button type="button" onclick="history.back()" class="btn btn-secondary">Annuleren</button>
			</td>
		</tr>
	</tfoot>
	</table>
	</div>
</form>
{% endblock %}