{% extends 'sensor/base.html' %}
{% block title %}Datalogger starten{% endblock title %}
{% block script %}
{{ block.super }}
<script>

// $(function() {
// 	const api = '/api/v1'
// 	$("#id_logger").change(function(e) {
// 		const id = this.value
// 		// get current installation
// 		fetch(`${api}/loggers/${id}/current`).then(response => {
// 			response.json().then(data => {
// 				console.debug(data)
// 				const d = new Date(Date.parse(data.start_date)) 
// 				const date = d.toLocaleDateString()
// 				const time = d.toLocaleTimeString()
// 				$("#id_start_date").val(date)
// 				$("#id_start_time").val(time)
// 			})
// 		})		
// 	})	
// })

</script>
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
	<div class="container">
	<h3>Herstart een gestopte datalogger</h3>
	<table class="table table-striped">
	<thead></thead>
	<tbody>
	<tr>
		<td>Datalogger</td>
		<td>{{form.logger}}</td>
	</tr>
	<tr>
		<th>Tijdstip starten</td>
		<td>{{form.start_date}}&nbsp;{{form.start_time}}
		{% if form.errors.start_time %}
			<span class="alert alert-danger">{{form.errors.start_time|join:', '}}</span>
		{% endif %}
		</td>
	</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan=2>
			<input type="submit" value="Starten" class="btn btn-primary">
			<button type="button" onclick="history.back()" class="btn btn-secondary">Annuleren</button>
			</td>
		</tr>
	</tfoot>
	</table>
	</div>
</form>
{% endblock %}