{% extends 'highchart.html' %}
{% block title %}Grafiek {{object}}{% endblock title %}
{% block script %}
{{ block.super }}
<script>
function fetchSeries(name,id) {
	var html = '<div id="screen'+id+'">Laden filter ' + name + '&hellip;</div>';
	$("#container").append(html);
    $.getJSON('/net/data/'+id, function (data) {
	  	var chart = $('#container').highcharts();
	  	$.each(data,function(key,values) {
	  		var series = chart.get(key);
			series.setData(values);
	  	})
    })
    .done(function() {
		$("#screen"+id).append('Klaar');
    })
    .fail(function() {
		$("#screen"+id).append('Geen gegevens');
    })
    .always(function(){
		setTimeout(function(){$("#screen"+id).remove();},2000);
    });
}

function fetchAll() {
{% for s in object.screen_set.all %}
	fetchSeries("{{s}}","{{s.pk}}");
{% endfor %}
}
$(function () {
  var opt = {{options|safe}};
  opt.chart.events.load = fetchAll;
  chart = $('#container').highcharts(opt);
});
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}