{% extends 'bootbase.html' %}
{% load staticfiles %}
{% load l10n %}
{% block title %}Metadata{% endblock title %}
{% block breadcrumbs %}{% endblock %}
{% block brandname %}<div class="navbar-brand">Grondwatermeetnet {{network.name}}</div>
{% endblock %}
{% block content %}
<div class="container">
<h3>Metadata geimporteerd</h3>
{% if errors > 0 %}<p style="color:red;">{{errors}} problemen geconstateerd.</p>{% endif %}
{% if url %}<a href="{{url}}" class="btn btn-primary">Log file bekijken</a>{% endif %}
<a href="/" class="btn btn-default">Startpagina</a>
</div>
{% endblock %}