<script>
	$(document).on(
			'change',
			'.btn-file :file',
			function() {
				var input = $(this), numFiles = input.get(0).files ? input
						.get(0).files.length : 1, label = input.val().replace(
						/\\/g, '/').replace(/.*\//, '');
				input.trigger('fileselect', [ numFiles, label ]);
			});

	$(document).ready(
			function() {
				$('.btn-file :file').on(
						'fileselect',
						function(event, numFiles, label) {
							var input = $(this).parents('.input-group').find(
									':text'), log = numFiles > 1 ? numFiles
									+ ' bestanden geselecteerd' : label;

							if (input.length) {
								input.val(log);
							} else {
								if (log)
									alert(log);
							}
						});
			});
</script>
<style>
.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}

input[readonly] {
	background-color: white !important;
	cursor: text !important;
}
</style>

<div id="uploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload validatiebestand</h4>
      </div>
      <div class="modal-body">
			<form action="{% url 'validation:upload' validation.id %}?next={{next}}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.errors}}
				<div class="input-group">
					<span class="input-group-btn">
							<span class="btn btn-primary btn-file"> Browse&hellip; {{form.filename}} </span>
					</span>
					<input type="text" id="text1" class="form-control" readonly>
				</div>
			</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>

  </div>
</div>