{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 	<link href="{% static "acacia/img/favicon.ico" %}" rel="icon" type="image/x-ico" />
	<title>{% block title %}Acacia Datastore{% endblock %}</title>
	{% block style %}
	<link rel="stylesheet" 
		href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
		crossorigin="anonymous">
    <style>
		#footer > .navbar {padding-top: 10px; min-height:32px !important;}
		body > .wrapper {padding-bottom: 42px; padding-top: 70px;}
		.nav > .breadcrumb {float: left; margin-top: 8px; padding-bottom: 0px;}
	    .logo {
	      clear: both;
	      float: right;
	      height: 48px;
	    }
    </style>
	{% endblock %}
	{% block extrastyle %}{% endblock extrastyle %}
	{% block meta %}{% endblock %}
	{% block script %}
	<script src="//code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
		crossorigin="anonymous"></script>
	{% endblock %}
  </head>
<body>
	{% csrf_token %}
    <div class="wrapper">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	    {% block navbar-header %}
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
		{% block brandname %}
		{% if object.logo %}<a href=""><img class="logo" src="{{MEDIA_URL}}{{object.logo}}"/></a>{% endif %}
		{% endblock %}
	    </div>
	    {% endblock navbar-header %}
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      {% block navbar %} 
		      <ul class="nav navbar-nav">
			    {% block breadcrumbs %}
			      <ol class="breadcrumb">
				    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
			      </ol>
			    {% endblock breadcrumbs %}
		      </ul>
	      {% endblock navbar %}
	      {% block navbar-auth %}
	      <ul class="nav navbar-nav navbar-right">
	        {% block navbar-right %}{% endblock navbar-right %}
	        <li><a href="/admin/{% block admin_url %}{% endblock admin_url %}">{% trans "Admin" %}</a></li>
	        {% if user.is_authenticated %}
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}
	          <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><a href="/accounts/logout">{% trans "Log out" %}</a></li>
	            <li><a href="/accounts/password/change">{% trans "Change password" %}</a></li>
	          </ul>
	        </li>
          	{% else %}
	        <li><a href="/accounts/login">{% trans "Log in" %}</a></li>
          	{% endif %}
	      </ul>
	      {% endblock navbar-auth %}
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
    {% block content %}
    {% endblock content %}
	</div> <!-- wrapper -->
    {% block footer %}
	<div id="footer" class="container">
	    <nav class="navbar navbar-default navbar-fixed-bottom">
	        <div class="navbar-inner navbar-content-center">
    			{% block footer-text %}
	            <p class="text-muted text-center credit"><a href="https://www.acaciawater.com">Acacia Water</a> • van Hogendorpplein 4 • 2805 BM Gouda • The Netherlands • Tel: +31 (0)182 - 686424 • Mail: <a href="mailto:info@acaciawater.com">info@acaciawater.com</a>.</p>
    			{% endblock footer-text %}
	        </div>
	    </nav>
	</div>
    {% endblock footer %}
  </body>
</html>
